@font-face {
        font-family: Aladin;
        src: url(Fonts/Aladin/Aladin-Regular.ttf);
}
@font-face {
        font-family: Andada;
        src: url(Fonts/Andada_Pro/static/AndadaPro-Regular.ttf);
}
@font-face {
        font-family: Source_Serif;
        src: url(Fonts/SourceSerif/static/SourceSerif4-VariableFont_opsz.ttf);
}
html,body {
        overflow-x:hidden;
}
#myBtn{
        position: fixed;
        border: 2px solid white;
        color: white;
        cursor: pointer;
        right: 30px;
        font-size: 30px;
        bottom: 20px;
        width: 60px;
        height: 60px;
        border-radius: 10px;
        background-color: rgb(12, 12, 100);
        position: fixed;
        z-index: 1;
        display: none;
        
}
#myBtn:hover {
        background-color: white;
        border: 2px solid rgb(12, 12, 100);
        color: rgb(12, 12, 100);
        transform: scale(1.1);
}
.header{
        background-image: url("IMG/pexels-fauxels-3184338.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center right;
}
.header nav{
        position: fixed; 
        width: inherit; 
        background-color:rgb(5, 5, 60);
        z-index: 999;
        border: none;
        width: 100%;
}
.navbar-toggle {
        border: 2px solid #1e1c87;
}
.icon-bar {
        background-color: #1d1ec9;
}
li a{
        font-family: aladin;
        font-size: 20px;
}
li a:active{
        border: 1px solid rgb(10, 10, 75);
}
li a:hover{
        font-size: 23px;
}
#dropdown-menu{
        background-color: rgb(5, 5, 60);
}
.dropdown-toggle {
        background-color: transparent;
        color: white;
        border: none;
}
.dropdown {
        position: absolute;
        display: block;
}
.dropdown:active .dropdown-toggle:active{
        background-color: transparent;
}
.navbar-nav .dropdown-item{
        color: white;
}  
.navbar-nav .dropdown-item:hover {
        background-color: rgb(255, 255, 255);
        color: rgb(5, 5, 60);
        border: white;
}
.dropdown:hover .dropdown-menu {
        display: block;
}
.dropdown:target .dropdown-menu{
        display: none;
}  
.dropdown:hover .dropdown-toggle {
        background-color: transparent;
}
.dropdown-menu a:hover{
        font-size: 23px;
        background-color: transparent;
}
#error-img{
        text-align: center;
}
#error{
        width: 300px;
        height: 300px;
}
#error-info{
        text-align: center;
        font-family: aladin;
}
#error-head{
        color: red;
        font-size: 50px;
}
#error-detals{
        font-size: 40px;
        color: #080E50;
}
#error-refferal{
        text-align: center;
        font-family: aladin;
        font-size: 25px;
        color: black;
}
@media screen and (max-width: 769px) {
        #error{
                width: 150px;
                height: 150px;
        }
        #error-head{
                font-size: 20px;
        }
        #error-detals{
                font-size: 15px;
        }
        #error-refferal{
                font-size: 15px;
        } 
}
.space{
        height: 30px;
}
@media screen and (min-width: 481px) {
        #dropdown-menu{
                width: fit-content;
                left: 0;
        }
}
@media screen and (max-width: 481px) {
        #myBtn{
                right: 10px;
                font-size: 20px;
                bottom: 10px;
                width: 40px;
                height: 40px;
                border-radius: 5px;
        }
        .header{
                background-size: cover;
                background-position: center;
                height: initial;
        }
        li a:active{
                border: 1px solid rgb(255, 255, 255);
        }
        .navbar-collapse{
                background-color: rgb(5, 5, 60); 
                border: none;
        }
        #dropdown-menu{
                position: sticky;
                width: 100%;
                padding-left: 5px;
        }
        .dropdown ul{
                background-color: transparent;
                border: none;
        }
        .navbar-nav{
                display: grid;
        }
}
#follow-socials{
        font-family: aladin;
        text-align: center;
        color: black;
        padding: 15px;
}
#footer-row{
        background-color: #080E50;
        color: white;
        font-family: aladin;
        padding: 10px;
        border-bottom: 1px solid black;
}
@media screen and (min-width: 481px) {
        #footer-row{
                height: 250px;
        }
}
#foot-col{
        height: 180px;
        background-color: #080E50;
        }
#foot-col li{
        padding-top: 5px;
}
.fa {
        padding: 8px;
        font-size: 15px;
        width: 30px;
        text-align: center;
        text-decoration: none;
        display: flex;
}
      .fa:hover {
          opacity: 0.7;
      }
      
      .fa-facebook {
        background: #3B5998;
        color: white;
      }
      
      .fa-twitter {
        background: #55ACEE;
        color: white;
      }
      .fa-linkedin {
        background: #007bb5;
        color: white;
      }
      
      .fa-youtube {
        background: #bb0000;
        color: white;
      }
      
      .fa-instagram {
        background: #ffffff;
        color: #B90FA3;
      }
      
      .fa-pinterest {
        background: #cb2027;
        color: white;
}
#Sub-Email{
        color: black;
}
#Sub-Email::placeholder{
        color: black;
        font-family: aladin;
        font-size: 17px;
}
#Sub-Email:active{
        border: 1px solid rgb(255, 255, 255);
}
#mail-but{
        width: 70px; 
        border: 1px solid white; 
        color: white; 
        text-align: center; 
        font-size: 17px; 
        font-family: aladin; 
        background-color: rgb(12, 12, 100); 
        border-bottom-right-radius: 10px; 
        border-top-right-radius: 10px; 
        height: 45px;
        font-weight: bold;
}
#mail-but:hover{
        background-color: white;
        color: rgb(12, 12, 100);
        border: 1px solid rgb(12, 12, 100);
}
#last-foot{
        background-color: #080E50;
        padding-left: 20px; 
        padding-right: 20px; 
        text-align: center;
        font-family: aladin;
        font-size: 15px;
        color: white;
        padding: 5px;
}